# Firebase credentials
firebase/ecomproject-a8173-38763797948f.json
# ملاحظة: تم نقل ملف Firebase إلى مجلد خارج المشروع

# Database files
db.sqlite3
db.sqlite3-*
*.db

# Environment
.env
.env.local
*.pyc
__pycache__/
.Python
env/
venv/
.vscode/
.idea/